@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background: rgb(235, 178, 47);
}

section.hero {
  @apply grid;
  grid-template-columns: 0.4fr 0.6fr;
}

.body {
  color: rgb(77, 67, 58);
}
